@{
    ViewBag.Title = "Simulação";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Simulação</h2>

<div class="row" data-ng-controller="chamadaController">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading"></div>
            <div class="panel-body">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label">Origem</label>
                        <select class="form-control" data-ng-change="selectOrigemSimulacao()" data-ng-model="origemSimulacao">
                            <option value="0">SELECIONE</option>
                            <option value="11">11</option>
                            <option value="16">16</option>
                            <option value="17">17</option>
                            <option value="18">18</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Destino</label>
                        <select class="form-control" data-ng-change="selectDestinoSimulacao()" data-ng-model="destinoSimulacao">
                            <option value="0">SELECIONE</option>
                            <option value="11">11</option>
                            <option value="16">16</option>
                            <option value="17">17</option>
                            <option value="18">18</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Plano Fale Mais</label>
                        <select class="form-control" data-ng-model="planoFaleMais">
                            <option value="0">SELECIONE</option>
                            <option value="30">30</option>
                            <option value="60">60</option>
                            <option value="120">120</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Quantidade Minuto</label>
                        <input type="text" value="" class="form-control" data-number data-ng-model="quantidadeMinutoSimulacao" />
                    </div>
                    <div class="form-group">
                        <button class="btn btn-success" data-ng-click="calcularValoresLigacao()">Simular</button>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">Com Fale Mais</div>
                        <div class="panel-body">
                            <h1>
                                <span data-ng-bind="valorComPlano | currency: 'R$'"></span>
                            </h1>
                        </div>
                    </div>

                </div>
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">Sem Fale Mais</div>
                        <div class="panel-body">
                            <h1>
                                <span data-ng-bind="valorSemPlano | currency: 'R$'"></span>
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

